---
// export const prerender = true;
import { Prism } from "@astrojs/prism";
import type { User } from "@supabase/supabase-js";

import supabase from "database:client";
import Layout from "@layouts/Layout.astro";
import LocationTag from "../../components/locations/LocationTag.astro";

// GET SESSION TOKEN FROM COOKIES
const {
    data: { session },
} = await supabase.auth.getSession();

if (!session) {
    return Astro.redirect("/signin");
}

const user = (await supabase.auth.getUser()).data.user as User;
const sessionCookieFormatted = session?.access_token.match(/.{1,80}/g)?.join("\n") ?? "error.";

/* DATABASE QUERY */
interface Friend {
    id: string;
    name: string;
    age: number;
    isBestFriend: boolean;
}
---

<Layout title="dashboard" animated={true}>
    <h1>Welcome {user.user_metadata.name}</h1>
    <p>We are happy to see you here.</p>
    <h3 style="margin-bottom: 2px;">SessionID Cookie:</h3>
    <Prism code={sessionCookieFormatted} />
    <h3>User Claims</h3>
    <Prism code={`${JSON.stringify(user.user_metadata)}`} />
    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>

    <div id="fillable"></div>

    <br />

    <LocationTag borderColor="#FFFF00" tagColor="#e7689c">SnowFlake</LocationTag>
</Layout>