---
import Layout from "../layouts/Layout.astro";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

const auth = getAuth(app);

const sessionCookie = Astro.cookies.get("session").value;

if (!sessionCookie) {
    return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
    return Astro.redirect("/signin");
}
---

<Layout title="Add a new friend">
    <h1>Add a new friend</h1>
    <form method="post" action="/api/data">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
        <label for="age">Age</label>
        <input type="number" id="age" name="age" />
        <label for="isBestFriend">Is best friend?</label>
        <input type="checkbox" id="isBestFriend" name="isBestFriend" />
        <button type="submit">Add friend</button>
    </form>
</Layout>
