---
import Layout from "../layouts/Layout.astro";
import supabase from "../supabase/client";

// GET SESSION TOKEN FROM COOKIES
const { data: sessionToken } = await supabase.auth.getSession();

// REDIRECT TO DASHBOARD IF ALREADY LOGGED IN
if (!sessionToken) {
    return Astro.redirect("/dashboard");
}
---

<Layout title="Sign in">
    <form id="signInForm" class="flex flex-1 my-20">
        <div class="rounded-xl input-bordered input-primary dark:bg-neutral flex flex-col items-center self-start justify-center w-10/12 py-16 mx-auto mt-8 prose bg-gray-100 border-2 border-solid">
            <h1 class="w-fit mb-0">Sign In</h1>
            <p class="my-2">New here? <a href="/register">Create an account</a></p>

            <div class="divider self-center w-3/5"></div>

            <section class="form-control w-3/5">
                <label for="email" class="label text-primary pt-4 pb-1">
                    <span class="label-text"><b>Email</b></span>
                </label>
                <input type="email" name="email" id="email" placeholder="someone@email.com" class="input input-md input-primary input-bordered border-2 border-solid" />
            </section>

            <section class="form-control w-3/5">
                <label for="password" class="label text-primary pt-4 pb-1">
                    <span class="label-text"><b>Password</b></span>
                </label>
                <input type="password" name="password" id="password" placeholder="someone@email.com" class="input input-md input-bordered input-secondary max-w-xs border-2 border-solid" />
            </section>

            <button id="submit" class="btn btn-white btn-outline w-xs w-3/5 mt-8 border-2 border-solid">Sign In</button>
        </div>
    </form>
</Layout>

<script>
    const signInForm = document.querySelector("#signInForm") as HTMLFormElement;
    const button = document.querySelector("#submit") as HTMLButtonElement;

    button.addEventListener("click", async e => {
        e.preventDefault();

        // EXTRACT INFORMATION FROM FORM
        const formData = new FormData(signInForm);
        const email = formData.get("email")?.toString();
        const password = formData.get("password")?.toString();

        // RETURN IF EMAIL OR PASSWORD ARE EMPTY/NOT PROVIDED
        if (!email || !password) {
            return;
        }

        // DEBUG
        // console.log(`[DEBUG]\nEMAIL: ${email}\nPASSWORD: ${password}`);

        // SEND LOGIN REQUEST TO API
        const response = await fetch("/api/auth/signin", {
            method: "GET",
            headers: {
                email: email,
                password: password,
            },
        });

        // REDIRECT TO DASHBOARD
        if (response.redirected) {
            console.log(response.url);
            window.location.assign(response.url);
        }
    });
</script>
