---
// export const prerender = true;
import { Prism } from "@astrojs/prism";
import type { User } from "@supabase/supabase-js";

import Layout from "@layouts/Layout.astro";

import LocationTag from "@components/locations/LocationTag.astro";
import DomainDisplayPanel from "@components/dashboard/DomainDisplayPanel.astro";

import supabase from "database:client";
import { employeeFromUUID, getEmployeeDomainsFromUUID, getIUIDFromUUID } from "database:functions";
import type { Employee } from "database:types";

// GET SESSION TOKEN FROM COOKIES
const {
    data: { session },
} = await supabase.auth.getSession();

if (!session) {
    return Astro.redirect("/signin");
}

const user = (await supabase.auth.getUser()).data.user as User;
const sessionCookieFormatted = session?.access_token.match(/.{1,80}/g)?.join("\n") ?? "error.";

const employee: Employee = await employeeFromUUID("8fd3fad7-da57-457b-bce3-c94349a5094f", user.id);

const domainList = await getEmployeeDomainsFromUUID("8fd3fad7-da57-457b-bce3-c94349a5094f", user.id);

const debug = false;
---

<Layout title="dashboard" animated={true}>
    <main>
        <div class:list={["w-full flex flex-row mt-4", debug && "border border-yellow-400 border-solid"]}>
            <section id="sidebar" class:list={["mx-auto w-32", debug && "border border-primary border-solid"]}></section>

            <section id="domain-panel" class:list={["mx-auto w-7/12"]}>
                <div class="flex flex-row justify-between">
                    <h1 class="text-4xl">Welcome, {employee.name + ", " + employee.education.name}</h1>
                    <form class="flex items-center" action="/api/auth/signout">
                        <button class="btn border border-solid border-slate-200" type="submit">Sign out</button>
                    </form>
                </div>
                <h2 class="mb-0">Your Domains</h2>
                <div class="divider my-1"></div>
                <div hx-trigger="load" hx-get="../api/v1_0/domain/views/cards" id="domains" hx-vals=`{ "token": "${user.id}", "iuid": "8fd3fad7-da57-457b-bce3-c94349a5094f" }` class:list={["flex flex-row flex-wrap justify-normal"]}></div>
            </section>

            <section id="announcements-panel" class:list={["mx-auto w-32", debug && "border border-primary border-solid"]}></section>
        </div>
    </main>

    <div id="fillable"></div>

    <br />

    <!-- <LocationTag borderColor="#FFFF00" tagColor="#e7689c">SnowFlake</LocationTag> -->
</Layout>
