---
let classList: string = "btn btn-ghost normal-case text-xl";
---

<nav transition:persist class="navbar bg-slate-800 flex justify-center w-auto px-10 m-0">
    <div class="flex-1">
        <a rel="prefetch" href="/" class="btn btn-ghost navbar-center text-2xl normal-case">Labcatr</a>
    </div>
    <div class="flex-none space-x-2">
        <a rel="prefetch" href="/signin" class={classList}>Login</a>
        <a rel="prefetch" href="/temp/test" class={classList}>Test</a>
        <a rel="prefetch" href="/me/dashboard" class={classList}>Dashboard</a>
    </div>
</nav>
