---
import CommonHead from "../components/CommonHead.astro";
import Navbar from "../components/Navbar.astro";
import EnableHTMX from "../components/enable/EnableHTMX.astro";
import EnableJSColor from "../components/enable/EnableJSColor.astro";
interface Props {
    title: string;
    animated?: boolean;
}

const { title, animated = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Labcatr. An Inventory Management Solution for Institutions. Built by Trevor Fox, Satanshu Mishra, and Anastasia Bernaz." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon-light.ico" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/x-icon" href="/favicon-dark.ico" media="(prefers-color-scheme: light)" />
        <meta name="generator" content={Astro.generator} />
        <title>Labcatr | {title}</title>
        <EnableJSColor />
        <EnableHTMX />
    </head>
    <body>
        <Navbar />
        <slot />

        <style>
            .topNav {
                display: flex;
            }

            .topNav a {
                margin-right: 1ch;
                text-decoration: none;
            }
        </style>

        <style is:global>
            :root {
                --accent: 136, 58, 234;
                --accent-light: 224, 204, 250;
                --accent-dark: 49, 10, 101;
                --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
            }
            html {
                font-family: system-ui, sans-serif;
                /* background: #f9f1e3; */
                background-size: 224px;
            }
            code {
                font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
            }
            body {
                margin: 0;
            }
        </style>
    </body>
</html>
