---
import Layout from "../../layouts/Layout.astro";
import Game from "../../components/react/Game";
---

<Layout title="React Test">
    <div class="mx-auto w-fit my-32">
        <Game client:load />
    </div>
</Layout>
